@using System.Globalization
@model Domain.Models.CommandeModel
@{
    Layout = null;
}
<!DOCTYPE html>
<style>
    body {
        font-family: 'Trebuchet MS', sans-serif;
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .Fb {
        font-weight: bold
    }

    .text-left {
        text-align: left
    }

    .text-right {
        text-align: right
    }

    .text-center {
        text-align: center
    }

    .entetp {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        text-align: left
    }

    .entetitle {
        width: 30%;
        text-align: left
    }

    .entet td {
        border: none;
        font-size: 12px;
        line-height: 18px;
    }

    h1.gtitle {
        text-align: center;
        font-size: 24px;
        margin: 15px 0;
        font-weight: 600;
    }

    h2.gtitle {
        text-align: left;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 600;
    }

    h3.gtitle {
        font-size: 12px;
        margin: 15px 0;
        font-weight: 600;
    }




    h3.signature {
        text-align: center;
        font-size: 18px;
        margin: 40px auto 120px;
        font-weight: bold
    }

    hr.hr {
        border: 6px solid #000
    }

    .Destin1 {
        margin-top: 20px;
        background: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

        .Destin1 td {
            padding: 2px 5px 2px;
        }



    .titable {
        margin: 20px auto;
        width: 700px;
    }

        .titable th {
            background: #d2d2d2;
            padding: 6px 0;
            border: 1px solid #000;
            text-align: center;
        }

        .titable td {
            background: #ffffff;
            padding: 2px 5px;
            border: 1px solid #000
        }

    .bold {
        font-weight: bold
    }

    .footer {
        background: orange;
        padding: 10px 0;
        text-align: center;
        color: #000;
        font-size: 13px;
    }

</style>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div style=" width:95%; margin: 30px auto">

        <table>
            <tbody>
                <tr>
                    <td width="50%"><img src="https://gmsblobstoragedev.blob.core.windows.net/cimarpdfs/logo.svg" alt="" width="220"></td>
                    <td class="text-center" width="50%">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="text-align: left;"><img src="betomar.png" alt="" width="120"></td>
                                </tr>
                                <tr>
                                    <td style=" font-size:14px; text-align: left;">
                                        621 Bd Panoramique, 20 150 -<br>
                                        Casablanca
                                    </td>
                                    <td style="font-size:14px; text-align: left;">
                                        Tél. +212 522 85 94 à 59<br>
                                        Fax +212 522 50 10 99<br>
                                        <b>www.cimentsdumaroc.com</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>


                </tr>
            </tbody>
        </table>

        <div style=" width:90%; margin: 30px auto">
            <table style="margin: 40px 0 30px ; font-size: 18px; font-weight: 600;">
                <tbody>
                    <tr>
                        <td style="text-align: left;">OA/DC/ BPE N° @Model.IdCommande.ToString()/ @Model.DateCommande!.Value.Year.ToString()</td>
                        <td style="text-align: right;">Casablanca, le @DateTime.Now.ToString("dd-MMMM-yyyy")</td>
                    </tr>
                </tbody>
            </table>
            <h1 class="gtitle">Sté NORMAR TRAVAUX</h1>
            <table class="Destin1">
                <tbody>
                    <tr>
                        <td width="50%">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="45%"><b>Destinataire</b></td>
                                        <td width="5%">:</td>
                                        <td>@Model.Client.Sexe @Model.Client.Destinataire_Interlocuteur</td>
                                    </tr>
                                    <tr>
                                        <td width="45%"><b>Objet</b></td>
                                        <td width="5%">:</td>
                                        <td>Offre de prix</td>
                                    </tr>
                                    <tr>
                                        <td width="45%"><b>Chantiers</b></td>
                                        <td width="5%">:</td>
                                        <td>@Model.Chantier.Ctn_Nom / @Model.Chantier.Ctn_Adresse</td>
                                    </tr>
                                    <tr>
                                        <td width="45%"><b>Nbre de pages</b></td>
                                        <td width="5%">:</td>
                                        <td>2 (celle-ci comprise)</td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>

                        <td width="50%">
                        </td>
                    </tr>
                </tbody>
            </table>
            <p> @(Model.Client.Sexe == "Mr." ? "Monsieur":"Madame"),</p>
            <p> Suite à votre consultation, nous avons l’honneur de vous communiquer ci-après, notre offre de prix pour la fourniture des Bétons Prêts à l’Emploi désignés ci-après :</p>

            <h2 class="gtitle">Nos prix Bétons rendus :</h2>

            <table class="titable">
                <thead>
                    <tr>
                        <th>Types de bétons</th>
                        <th>Prix en DH H.T/M3</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.DetailCommandes)
                    {
                        <tr>
                            <td class="text-center">&nbsp; @item.Article.Designation</td>
                            @if (item.MontantDA is not null)
                            {
                                <td class="text-center">&nbsp; @item.MontantDA!.Value.ToString("n2")</td>

                            }
                            else if (item.MontantRC is not null)
                            {
                                <td class="text-center">&nbsp; @item.MontantRC!.Value.ToString("n2")</td>

                            }
                            else if (item.MontantV1 is not null)
                            {
                                <td class="text-center">&nbsp; @item.MontantV1!.Value.ToString("n2")</td>

                            }
                            else
                            {
                                <td class="text-center">&nbsp; @item.Montant!.Value.ToString("n2")</td>

                            }
                        </tr>
                    }
                </tbody>
            </table>

@*             <table class="titable">
                <thead>
                    <tr>
                        <th>Adjuvent</th>
                        <th class="text-center">Prix en DH HT / M3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50%">Plus-value hydrofuge </td>
                        <td width="50%" class="text-center">50.00 </td>
                    </tr>
                </tbody>
            </table>
 *@
            <table class="titable">
                <thead>
                    <tr>
                        <th>Pompage</th>
                        <th>Prix en DH HT / M3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50%">Prestation pompe </td>
                        <td width="50%" class="text-center">@Model.TarifAchatPompage </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="gtitle">Conditions :</h2>

            <ul>

                <li>@Model.Conditions.Split(",").ElementAt(0),</li>
                <li>@Model.Conditions.Split(",").ElementAt(1),</li>
                <li>Délai de paiement : @(Model.Delai_Paiement != "Delai habituel" ? Model.Delai_Paiement + "jours" : Model.Delai_Paiement)</li>
                <li class="bold">
                    @Model.Conditions.Split(",").ElementAt(2).
                </li>
                <li class="bold">@Model.Conditions.Split(",").ElementAt(3)</li>
            </ul>


        </div>

    </div>
    <div class="footer" style="margin-top: 300px;">
        <p>S.A. au capital de 1.443.600.400,00 DH - Siége : 621, boulevard Panoramique, 20150 Casablanca, Maroc - R.C. 70617 Casablanca - C.N.S.S. 1929415 - I.F. 1085799 - T.P. 37997801 - ICE / 001524400000046</p>
    </div>
</body>

</html>