@using System.Globalization
@model Domain.Models.CommandeModel
@{
    Layout = null;
}
<!DOCTYPE html>
<style>
body {
    font-family: 'Trebuchet MS', sans-serif;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.Fb {
    font-weight: bold
}
.text-left {
    text-align: left
}
.text-right {
    text-align: right
}
.text-center {
    text-align: center
}
.entetp {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-align: left
}
.entetitle {
    width: 30%;
    text-align: left
}
.entet td {
    border: none;
    font-size: 12px;
    line-height: 18px;
}
h1.gtitle {
    text-align: left;
    font-size: 40px;
    margin: 15px 0;
    font-weight: bold;
    font-family:Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
    h2{ font-size: 20px;}
h3.signature {
    text-align: center;
    font-size: 18px;
    margin: 40px auto 120px;
    font-weight: bold
}
       hr.hr{border:6px solid #000}
.Destin1 {
    background: #f2f2f2;
    border: 1px solid #000;
}
.Destin1 td {
    padding: 2px 5px 2px;
}
.Destin2 {
    line-height: 12px
}
.Destin2 h2 {
    font-size: 20px;
}
.Destin2 p {
        color: #616161;
    line-height: 20px;
    margin: 5px 5px 5px 0;
    
}
.titable {
    margin-top: 20px
}
.titable th {
    background: #f1f1f1;
    padding: 6px 0;
    border: 1px solid #000
}
.titable td {
    background: #ffffff;
    padding: 2px 0;
    border: 1px solid #000
}
    td.bold{font-weight: bold}
    .textarea{ border:2px solid #000; width: 100%; min-height: 140px;}
</style>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<div style=" width:95%; margin: 50px auto">
  
  <table>
    <tbody>
      <tr>
        <td width="60%"><h1 class="gtitle">DEVIS N° :@Model.IdCommande.ToString()</h1></td>
        
        <td class="text-right"><img src="https://gmsblobstoragedev.blob.core.windows.net/cimarpdfs/logo.svg" alt="" width="220"></td>
      </tr>
    </tbody>
  </table>
    <hr class="hr">
  <table>
    <tbody>
      <tr>
        <td width="55%"><table class="Destin1">
            <tbody>
              <tr>
                <td width="55%">Date de devis</td>
                <td width="5%">:</td>
                <td class="bold">@DateTime.Now.ToShortDateString()</td>
              </tr>
              <tr>
                <td>Référence du devis</td>
                <td>:</td>
                <td class="bold">@Model.IdCommande.ToString()</td>
              </tr>
                <tr>
                <td>Date de validité du devis</td>
                <td>:</td>
                <td class="bold">27/10/2022</td>
              </tr>
                <tr>
                <td>Emis par</td>
                <td>:</td>
                <td class="bold">Nom & Prénom</td>
              </tr>
                <tr>
                <td>Contact Client</td>
                <td>:</td>
                <td class="bold">@Model.Client.Destinataire_Interlocuteur</td>
              </tr>
                <tr>
                <td>Nom Chantier</td>
                <td>:</td>
                <td class="bold">@Model.Chantier.Ctn_Nom</td>
              </tr>
                <tr>
                <td>Volume Prévisionnel</td>
                <td>:</td>
                <td class="bold">@Model.Chantier.VolumePrevisonnel.ToString("n2") m<sup>3</sup></td>
              </tr>
                <tr>
                <td>Zone de livraison</td>
                <td>:</td>
                <td class="bold">@Model.Chantier.ZONE_CHANTIER.Zone_Libelle</td>
              </tr>
            </tbody>
          </table></td>
        <td width="10%">&nbsp;</td>
        <td class="Destin2"><h2 class="Fb">Destinataire :</h2>
          <p class="Fb">@Model.Client.RaisonSociale @Model.Client.Forme_Juridique.FormeJuridique_Libelle</p>
          <p>@Model.Client.Adresse</p>
          <p>ICE : @Model.Client.Ice</p>
          <p>Tél : @Model.Client.Gsm</p></td>
      </tr>
    </tbody>
  </table>
    
    <h2>Articles :</h2>
  <table class="titable">
      <thead>
      <tr>
          <th>Article</th>
          <th>Tarif DH/m<sup>3</sup></th>
          @*<th>Quantité</th>
          <th>Total HT</th>*@
      </tr>
      </thead>
      @foreach (var item in @Model.DetailCommandes)
      {
          <tbody>
          
          <tr>
              <td>&nbsp; @item.Article.Designation</td>
              @if (item.MontantDA is not null)
              {
                  <td>&nbsp; @item.MontantDA!.Value.ToString("n2")</td>

              }else if(item.MontantRC is not null)
              {
                  <td>&nbsp; @item.MontantRC!.Value.ToString("n2")</td>
                  
              }else if(item.MontantV1 is not null)
              {
                  <td>&nbsp; @item.MontantV1!.Value.ToString("n2")</td>
                  
              }
              else
              {
                  <td>&nbsp; @item.Montant!.Value.ToString("n2")</td>

              }
              @*<td>&nbsp; @item.Volume!.Value.ToString("n2")</td>
              @{ var s = item.Volume * item.Montant!.Value; }
              <td>&nbsp;@s!.Value.ToString("n2") </td>*@
          </tr>
          </tbody>
      }

 </table> 
@*    <h2>Services :</h2>
  <table class="titable">
      <thead>
      <tr>
          <th>Article</th>
          <th>Tarif DH/m<sup>3</sup></th>
      </tr>
      </thead>
      <tbody>
      
      <tr>
          <td>&nbsp; Tarifs de transport</td>
          <td>&nbsp; @Model.TarifAchatTransport.ToString("n2")</td>
      </tr>
      
      </tbody>
    
  </table>  *@
    
    <h2>Conditions & Délai de paiement</h2>
    <div class="textarea">
    @Model.Conditions
    </div>
    
    
  <h3 class="signature">Cachet & Signature</h3>
  <hr>
  <p style="font-size: 12px" class="text-center"><span class="Fb">Ciment du Maroc</span> - N° 621 boulevard Panoramique 20 150 Casablanca,Maroc. <span class="Fb">Téléphone :</span> 05.22.85.94.50<br>
    <span class="Fb">Email :</span> contact@cimar.co.ma <span class="Fb">IF :</span> 00000000 - <span class="Fb">ICE :</span> 000000000000000 – <span class="Fb">RC :</span> 000000 <span class="Fb"> Patente :</span> 00000000</p>
</div>
</body>
</html>