@model Domain.Models.CommandeModel
@{
    var sum = (double)Model.DetailCommandes.Sum(x => x.Montant * x.Volume);
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="index.html"><i class="bx bx-home-alt"></i></a> </li>
                                <li class="breadcrumb-item active"><a href="#">Demande de l'offre de prix</a> </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Détails de la commande</h4>
                                <a class="heading-elements-toggle"> <i class="bx bx-dots-vertical font-medium-3"></i> </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li> <a data-action="collapse"> <i class="bx bx-chevron-down"></i> </a> </li>
                                        <li> <a data-action="expand"> <i class="bx bx-fullscreen"></i> </a> </li>
                                        <li> <a data-action="reload"> <i class="bx bx-revision"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->

                                            <div class="card">
                                                <!-- datatable start -->
                                                <form method="get" class="needs-validation" novalidate>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row justify-content-center">
                                                                <div>N° Commande : <b style="color:black">@Model.IdCommande</b></div>
                                                                <div class="ml-3">Client : <b style="color:black">@Model.Client.RaisonSociale</b></div>
                                                                <div class="ml-3">Chantier : <b style="color:black">@Model.Chantier.Ctn_Nom</b></div>
                                                                <div class="ml-3">Montant : <b style="color:black">@sum</b></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- datatable ends -->

                                            </div>

                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <a class="heading-elements-toggle"> <i class="bx bx-dots-vertical font-medium-3"></i> </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li> <a data-action="collapse"> <i class="bx bx-chevron-down"></i> </a> </li>
                                        <li> <a data-action="expand"> <i class="bx bx-fullscreen"></i> </a> </li>
                                        <li> <a data-action="reload"> <i class="bx bx-revision"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            @if (Model.DetailCommandes.Any(x => x.IdArticle == 4))
                                            {
                                                <fieldset class="fieldset">
                                                    <legend>Articles</legend>
                                                    <div class="form-row">
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Article PBE</label>
                                                            <input id="Article" type="text" class="form-control">
                                                            <input id="DetailId" type="hidden">
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Traif</label>
                                                            <input id="TarifArticle" type="text" class="form-control">
                                                            <span class="input-info">DH/m<font class="m3">3</font></span>
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <button type="button" class="btn btn-dark glow float-right mt-1" onclick="ArticleUpdate()" id="updateButton">Valider</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            }
                                            <div class="card">
                                                <!-- datatable start -->
                                                <div class="table">
                                                    <table class="table table-intragroupe table-bordered mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Produit </th>
                                                                <th>Code produit</th>
                                                                <th>Volume</th>
                                                                <th>Prix (@Model.Currency/m<font class="m3">3</font>)</th>
                                                                <th>Délai de paiement (jours)</th>
                                                                @if (Model.DetailCommandes.Any(x => x.IdArticle == 4))
                                                                {
                                                                    <th>Action</th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cmd in Model.DetailCommandes)
                                                            {
                                                                <tr>
                                                                    <td style="display:none">@cmd.IdDetailCommande</td>
                                                                    <td class="text-bold-500">@cmd.Article.Designation</td>
                                                                    <td class="text-bold-500">@cmd.IdArticle</td>
                                                                    <td class="text-bold-500">@cmd.Volume</td>
                                                                    @*<td class="text-bold-500">@Math.Round((decimal)(cmd.Volume * cmd.Montant), 2)</td>*@
                                                                    <td class="text-bold-500">@cmd.Montant</td>
                                                                    <td class="text-bold-500">@Model.Delai_Paiement</td>
                                                                    @if (cmd.IdArticle == 4)
                                                                    {
                                                                        <td class="text-center">
                                                                            <a style="cursor:pointer" onclick="ArticleDisplay(this)"><i class="bx bx-pencil"></i></a>
                                                                             <a class="ml-1" href="@Model.ArticleFile"><i class="bx bx-file"></i></a>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- datatable ends -->

                                            </div>

                                            <!-- table success ends -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </section>
            <!-- Dashboard Ecommerce ends -->

        </div>
    </div>
</div>
<!-- END: Content-->
<script>
    function ArticleDisplay(ctl) {
        _row = $(ctl).parents("tr");
        var cols = _row.children("td");
        $(_row).remove();
        $("#DetailId").val($(cols[0]).text());
        $("#Article").val($(cols[1]).text());
        $("#Article").prop("disabled", true);
        $("#TarifArticle").val($(cols[4]).text());
    }

    function ArticleUpdate() {
        swal.fire({
        icon: 'info',
        title: "Etes-vous sur ?",
        showCancelButton: true,
        cancelButtonText: 'Annuler',
        confirmButtonText: "Envoyer ",
        }).then((result) => {
            if (result.isConfirmed) {
                var data = {
                    Id: $("#DetailId").val(),
                    Tarif: $("#TarifArticle").val()
                };

                $.ajax({
                    url: '@Url.Action("PorposerPrixDABPE", "Commande")',
                    type: "POST",
                    cache: false,
                    async: true,
                    data: data,
                    success: function (data) {
                        if (data) {
                            swal.fire("Success!", "Prix proposé avec succès", "success");
                            setTimeout(
                                function () {
                                    window.location.reload();
                                }, 1500
                            );
                        }
                        else
                        {
                             swal.fire("Erreur", "Une erreur est survenue", "error");
                        }
                    },
                    error: function () {
                        swal.fire("Erreur", "Une erreur est survenue", "error");
                    }
                });
            }
        })
    }
</script>