@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Domain.Models.Commande.CommandeViewModel
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="index.html"><i class="bx bx-home-alt"></i></a> </li>
                                <li class="breadcrumb-item active"><a href="#">Demande de l'offre de prix</a> </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Nouveau Client	 </h4>
                                <a class="heading-elements-toggle"> <i class="bx bx-dots-vertical font-medium-3"></i> </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li> <a data-action="collapse"> <i class="bx bx-chevron-down"></i> </a> </li>
                                        <li> <a data-action="expand"> <i class="bx bx-fullscreen"></i> </a> </li>
                                        <li> <a data-action="reload"> <i class="bx bx-revision"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->

                                            <div class="card form-wizard">
                                                <!-- datatable start -->
                                                <!-- Form Wizard -->
                                                <form asp-controller="Commande" asp-action="ModifierCommande" method="post">
                                                    <!-- Form progress -->
                                                    <div class="form-wizard-steps form-wizard-tolal-steps-4">

                                                        <!-- Step 1 -->
                                                        <div class="form-wizard-step active">

                                                            <p>Information de client</p>
                                                        </div>
                                                        <!-- Step 1 -->
                                                        <!-- Step 2 -->
                                                        <div class="form-wizard-step">

                                                            <p>Délai & Conditions de paiement</p>
                                                        </div>
                                                        <!-- Step 2 -->
                                                        <!-- Step 3 -->
                                                        <div class="form-wizard-step">
                                                            <p>Tarif BPE & Services</p>
                                                        </div>
                                                        <!-- Step 3 -->
                                                    </div>
                                                    <!-- Form progress -->
                                                    <!-- Form Step 1 -->
                                                    <fieldset class="wizard">
                                                        <div class="form-row">
                                                            <div class="col-md-6 mb-1">
                                                                <label for="validationTooltip01">Raison Sociale</label>
                                                                <input asp-for="Client.RaisonSociale" type="text" class="form-control">
                                                            </div>
                                                            <div class="col-md-6 mb-1">
                                                                <label for="validationTooltip01">Forme Juridique</label>
                                                                <select class="custom-select" asp-for="Client.FormeJuridique_Id" asp-items="@ViewBag.FormeJuridique">
                                                                    <option selected disabled>Sélectionnez une forme juridique</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6 mb-1">
                                                                <label for="validationTooltip01">N° ICE</label>
                                                                <input asp-for="Client.Ice" type="text" class="form-control">
                                                            </div>
                                                            <div class="col-md-6 mb-1">
                                                                <label for="validationTooltip01">N° CNIE</label>
                                                                <input asp-for="Client.Cnie" type="text" class="form-control">
                                                            </div>
                                                            <div class="col-md-12 mb-1">
                                                                <label for="validationTooltip01">Adresse</label>
                                                                <input asp-for="Client.Adresse" type="text" class="form-control">
                                                            </div>
                                                            <div class="col-md-4 mb-1">
                                                                <label for="validationTooltip01">Destinataire/Interlocuteur</label>
                                                                <input asp-for="Client.Destinataire_Interlocuteur" type="text" class="form-control">
                                                            </div>
                                                            <div class="col-md-4 mb-1">
                                                                <label for="validationTooltip01">N° de téléphone</label>
                                                                <input asp-for="Client.Gsm" type="text" class="form-control">
                                                            </div>
                                                            <div class="col-md-4 mb-1">
                                                                <label for="validationTooltip01">Email</label>
                                                                <input asp-for="Client.Email" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <fieldset class="fieldset">
                                                                <legend>Information du chantier</legend>
                                                                <div class="form-row">

                                                                    <div class="col-md-6 mb-1">
                                                                        <label for="validationTooltip01">Nom du chantier</label>
                                                                        <input asp-for="Chantier.Ctn_Nom" type="text" class="form-control">
                                                                    </div>
                                                                    <div class="col-md-6 mb-1">
                                                                        <label for="validationTooltip01">Type du chantier</label>
                                                                        <select class="custom-select" asp-for="Chantier.Ctn_Tc_Id" asp-items="@ViewBag.TypeChantier">
                                                                            <option selected disabled>Sélectionnez un type</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-6 mb-1">
                                                                        <label for="validationTooltip01">Maître d'ouvrage</label>
                                                                        <input asp-for="Chantier.MaitreOuvrage" type="text" class="form-control">
                                                                    </div>
                                                                    <div class="col-md-6 mb-1">
                                                                        <label for="validationTooltip01">Volume prévisionnel</label>
                                                                        <input asp-for="Chantier.VolumePrevisonnel" type="text" class="form-control">
                                                                        <span class="input-info"> m<font class="m3">3</font></span>
                                                                    </div>
                                                                    <div class="col-md-2 mb-1">
                                                                        <label for="validationTooltip01">Durée de projet</label>
                                                                        <input asp-for="Chantier.Duree" type="text" class="form-control">
                                                                        <span class="input-info"> Mois</span>
                                                                    </div>
                                                                    <div class="col-md-4 mb-1">
                                                                        <label for="validationTooltip01">Centrale à béton</label>
                                                                        <select class="custom-select" asp-for="Chantier.Ctn_Ctr_Id" asp-items="@ViewBag.Centrale">
                                                                            <option selected disabled>Sélectionnez une centrale</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-2 mb-1">
                                                                        <label for="validationTooltip01">Rayon</label>
                                                                        <input asp-for="Chantier.Rayon" type="text" class="form-control">
                                                                        <span class="input-info"> Km</span>
                                                                    </div>
                                                                    <div class="col-md-4 mb-1">
                                                                        <label for="validationTooltip01">Zone de livraison</label>
                                                                        <select id="Zone" class="custom-select" asp-for="Chantier.Ctn_Zone_Id" asp-items="@ViewBag.Zone" onchange="GetTarfiZone()">
                                                                            <option selected disabled>Sélectionnez une zone</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="form-wizard-buttons">
                                                            <button type="button" class="btn btn-next">Suivant</button>
                                                        </div>
                                                    </fieldset>
                                                    <!-- Form Step 1 -->
                                                    <!-- Form Step 2 -->
                                                    <fieldset class="wizard">
                                                        <div class="form-row">
                                                            <div class="col-md-12 mb-1">
                                                                <label for="validationTooltip01">Conditions</label>
                                                                <textarea asp-for="Commande.Conditions" class="form-control" rows="5"></textarea>
                                                            </div>
                                                            <div class="col-md-4 mb-1">
                                                                <label for="validationTooltip01">Délai de paiement</label>
                                                                <input asp-for="Commande.Delai_Paiement" type="text" class="form-control">
                                                                <span class="input-info"> Mois</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-wizard-buttons">
                                                            <button type="button" class="btn btn-previous">Précédent</button>
                                                            <button type="button" class="btn btn-next">Suivant</button>
                                                        </div>
                                                    </fieldset>
                                                    <!-- Form Step 2 -->
                                                    <!-- Form Step 3 -->
                                                    <fieldset class="wizard">
                                                        <div class="form-row">
                                                            <fieldset class="fieldset">
                                                                <legend>Articles</legend>
                                                                <div class="form-row">
                                                                    <div class="col-md-3 mb-1">
                                                                        <input type="hidden" id="DetailId" />
                                                                        <input type="hidden" id="Index" />
                                                                        <label for="validationTooltip01">Article BPE</label>
                                                                        <select id="Article" class="custom-select" asp-items="@ViewBag.Article">
                                                                            <option selected disabled>Sélectionnez un article</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-3 mb-1">
                                                                        <label for="validationTooltip01">Volume</label>
                                                                        <input id="VolumeArticle" type="text" class="form-control" readonly>
                                                                        <span class="input-info">m<font class="m3">3</font></span>
                                                                    </div>
                                                                    <div class="col-md-3 mb-1">
                                                                        <label for="validationTooltip01">Traif</label>
                                                                        <input id="TarifArticle" type="text" class="form-control">
                                                                        <span class="input-info">DH/m<font class="m3">3</font></span>
                                                                    </div>
                                                                    <div class="col-md-3 mb-1" id="UpdateDiv">
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset class="fieldset">
                                                                <legend>Articles Sélectionnés</legend>
                                                                <div class="form-row">
                                                                    <div class="col-md-12 mb-1">
                                                                        <div class="table" id="divTable">
                                                                            <table id="ArticleTable" class="table table-intragroupe table-bordered mb-0">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Designation article</th>
                                                                                        <th>Volume</th>
                                                                                        <th>Tarif DH/m<font class="m3">3</font></th>
                                                                                        <th>Action</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tbodyArticles">
                                                                                    @for(int i = 0; i < Model.DetailCommandes.Count(); i++)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@Model.DetailCommandes[i].Article.Designation</td>
                                                                                            <td>@Model.DetailCommandes[i].Volume</td>
                                                                                            <td>@Model.DetailCommandes[i].Montant</td>
                                                                                            <td class="text-center">
                                                                                                @if (@Model.DetailCommandes[@i].IdArticle != 4)
                                                                                                {
                                                                                                    <a onclick="ArticleDisplay(this)" style="cursor:pointer"><i class="icn-action-form bx bx-edit-alt ic-edit font-medium-1"></i></a>
                                                                                                }
                                                                                            </td>
                                                                                            <td style="display:none;"><input type="text" value="@Model.DetailCommandes[@i].IdArticle">@Model.DetailCommandes[i].IdArticle</td>
                                                                                            <td style="display:none"><input type="text" name="DetailCommandes[@i].IdArticle" value ="@Model.DetailCommandes[i].IdArticle"></td>
                                                                                            <td style="display:none"><input type="text" name="DetailCommandes[@i].Montant"  value ="@Model.DetailCommandes[i].Montant"></td>
                                                                                            <td style="display:none"><input type="text" name="DetailCommandes[@i].Volume" value ="@Model.DetailCommandes[i].Volume"></td>
                                                                                            <td style="display:none"><input type="text" name="DetailCommandes[@i].IdDetailCommande" value ="@Model.DetailCommandes[i].IdDetailCommande"></td>
                                                                                            <td style="display:none">@i</td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset class="fieldset">
                                                                <legend>Tarifs de services</legend>
                                                                <div class="form-row">
                                                                    <div class="col-md-4 mb-1">
                                                                        <label for="validationTooltip01">Tarif de transport</label>
                                                                        <input id="TarifZone" asp-for="Commande.TarifAchatTransport" type="text" class="form-control" readonly>
                                                                        <span class="input-info">DH/m<font class="m3">3</font></span>
                                                                    </div>
                                                                    <div class="col-md-4 mb-1">
                                                                        <label for="validationTooltip01">Longueur de flèche</label>
                                                                        <select id="Pompe" class="custom-select" asp-for="Commande.LongFleche_Id" asp-items="@ViewBag.Pompe" onchange="GetTarfiPompe()">
                                                                            <option selected disabled>Sélectionnez une zone</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4 mb-1">
                                                                        <label for="validationTooltip01">Tarif de pompage</label>
                                                                        <input id="TarifPompe" asp-for="Commande.TarifAchatPompage" type="text" class="form-control" readonly>
                                                                        <span class="input-info">DH/m<font class="m3">3</font></span>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="form-wizard-buttons">
                                                            <button type="button" class="btn btn-previous">Précédent</button>
                                                            <button type="submit" class="btn btn-submit" onclick="Enable()">Enregistrer</button>
                                                        </div>
                                                    </fieldset>
                                                    <!-- Form Step 3 -->
                                                </form>
                                                <!-- Form Wizard -->
                                                <!-- datatable ends -->
                                            </div>
                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Dashboard Ecommerce ends -->
        </div>
    </div>
</div>

<script>
    function ArticleAjout() {
        var name = $("#Article option:selected").val();
        var Article = $("#Article option:selected").text();
        var ArticleId = $("#Article option:selected").val();
        var Tarif = $("#TarifArticle").val();
        var Volume = $("#VolumeArticle").val();
        var DetailId = $("#DetailId").val();
        var index = $("#Index").val();
        // Append Article to the table
        var markup = '<tr>' +
            '<td>' + Article + '</td>' +
            '<td>' + Volume + '</td> '+
            '<td>' + Tarif + '</td>'+
            '<td class="text-center">'+
            '<a onclick="ArticleDisplay(this)" style="cursor:pointer"><i class="icn-action-form bx bx-edit-alt ic-edit font-medium-1"></i></a>'+
            '</td>'+
            '<td style="display:none;"><input type="text" value="' + ArticleId + '">' + ArticleId + '</td>'
        if (name != 0) {
            var isExists = false;
            $("#ArticleTable tr input").each(function () {
                var val = $(this).val();
                if (val == name)
                    isExists = true;
            }).val()
            if (isExists) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Article deja present dans le tableau, le volume sera additionné',
                    showConfirmButton: false,
                    timer: 2500
                })
                $('#ArticleTable').append(markup +
                    "<td style='display:none;'>" + "<input type=" + "text" + " name=" + "'DetailCommandes[" + index + "].IdArticle'" + "value ='" + ArticleId + "'></td>" +
                    "<td style='display:none;'>" + "<input type=" + "text" + " name=" + "'DetailCommandes[" + index + "].Montant'" + "value ='" + Tarif + "'></td>" +
                    "<td style='display:none;'>" + "<input type=" + "text" + " name=" + "'DetailCommandes[" + index + "].Volume'" + "value ='" + Volume + "'></td>" +
                    "<td style='display:none;'>" + "<input type=" + "text" + " name=" + "'DetailCommandes[" + index + "].IdDetailCommande'" + "value ='" + DetailId + "'></td>" +
                    "<td style='display:none;'>" + index + "</td>" +
                    "</tr>"
                );
            }
            else {
                $('#ArticleTable').append(markup +
                    "<td style='display:none;'>" + "<input type=" + "text" + " name=" + "'DetailCommandes[" + index + "].IdArticle'" + "value ='" + ArticleId + "'></td>" +
                    "<td style='display:none;'>" + "<input type=" + "text" + " name=" + "'DetailCommandes[" + index + "].Montant'" + "value ='" + Tarif + "'></td>" +
                    "<td style='display:none;'>" + "<input type=" + "text" + " name=" + "'DetailCommandes[" + index + "].Volume'" + "value ='" + Volume + "'></td>" +
                    "<td style='display:none;'>" + "<input type=" + "text" + " name=" + "'DetailCommandes[" + index + "].IdDetailCommande'" + "value ='" + DetailId + "'></td>" +
                    "<td style='display:none;'>" + index + "</td>" +
                    "</tr>"
                );
            }
        }
        formClear();
    }

    @if (TempData["Creation"] == "ko")
    {
        <text>CreationNotifications();</text>
    }
    function CreationNotifications() {
        ShowNotification("Une erreur s'est produite.", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
    }

    function GetTarfiZone() {
        var data = { Id: $('#Zone').val() };
         $.ajax({
                url: '@Url.Action("GetTarifZone", "Home")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    $('#TarifZone').val('');
                    $('#TarifZone').val(data);
                },
                error: function () {

                }
         });
    }
    function GetTarfiPompe() {
        var data = { Id: $('#Pompe').val() };
         $.ajax({
                url: '@Url.Action("GetTarifPompe", "Home")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    $('#TarifPompe').val('');
                    $('#TarifPompe').val(data);
                },
                error: function () {

                }
         });
    }

    function ArticleAdd() {
        ArticleAjout();
        formClear();
    }

    function formClear() {
        $('#Article').prop('selectedIndex', 0);
        $("#TarifArticle").val('');
        $("#VolumeArticle").val('');
        $("#DetailId").val('');
        $("#Index").val('');
        $('#Article option:not(:selected)').prop('disabled', false);
    }

    function ArticletUpdateInTable() {
        $(_row).after(ArticleAjout());
        formClear();
        $("#updateButton").remove();
    }

    function ArticleDisplay(ctl) {
        _row = $(ctl).parents("tr");
        var cols = _row.children("td");
        $(_row).remove();
        $("#Article").val($(cols[4]).find("input[type = 'text']").val());
        $('#Article option:not(:selected)').prop('disabled', true);
        $("#VolumeArticle").val($(cols[1]).text());
        $("#TarifArticle").val($(cols[2]).text());
        $("#DetailId").val($(cols[8]).find("input[type = 'text']").val());
        $("#Index").val($(cols[9]).text());
        $("#UpdateDiv").append("<button type='button' class='btn btn-dark glow float-right mt-1' onclick='ArticleUpdate()' id='updateButton'>Modifier</button>");
    }

    function ArticleUpdate() {
        if ($("#Article").val() != null && $("#Article").val() != '' &&
            $("#TarifArticle").val() != null && $("#TarifArticle").val() != '') {
            ArticletUpdateInTable();
            $("#Article").focus();
        }
    }

    function ArticleDelete(ctl) {
        ctlSupp = ctl;
        var ctl = ctlSupp;
        $(ctl).parents("tr").remove();
    }
</script>